#introduksjon{
  display: block;
}

#oversikt{
  display: none;
}

#detaljer{
  display: none;

}

#sammenligning{
  display: none;

}

.divElements{
  background-color: cyan;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);


}
]
/* navigasjon
*/


nav{
  display: block;
  width: 100%;
  position: fixed;
  overflow: hidden;
  height: 5%;
  z-index: 5;
  transition-duration: 1s;
}


nav ul{
  list-style: none;
  font-size: 2vh;
}

nav ul li{
  float: left;
  margin-right: 40px;
}

nav ul li a{
  text-decoration: none;
  color: blue;
}

nav ul li a:hover{
  color:red;
  transition-duration: 0.5s;
}

/*
footer
*/

footer{
  display: flex;
  justify-content: center;
  padding:5px;
  background-color: #45a1ff;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
